#cc-main {
  /** Change font **/
  --cc-font-family: Roboto;

  /** Change button primary color to black **/
  --cc-btn-primary-bg: rgba(var(--color-magenta));
  --cc-btn-primary-border-color: rgba(var(--color-magenta));
  --cc-btn-primary-hover-bg: rgba(194, 0, 78);
  --cc-btn-primary-hover-border-color: rgba(var(--color-magenta));

  /** Also make toggles the same color as the button **/
  --cc-toggle-on-bg: var(--cc-btn-primary-bg);

  /** Make the buttons a bit rounder **/
  --cc-btn-border-radius: 10px;
}
